<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Account Setting</title>
	<!-- Google Font Family Link Start -->
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,800">
	<!-- Google Font Family Link End -->
	<!-- Bootstrap Link Start-->
	<link href="assets/css/bootstrap.css" rel="stylesheet">
	<link href="assets/css/bootstrap-theme.css" rel="stylesheet">
	<link href="assets/css/bootstrap-datepicker.css" rel="stylesheet">
	<link href="assets/css/bootstrap-slider.css" rel="stylesheet">
	<!-- Bootstrap Link End-->
	<!-- Iconmoon Link Start-->
	<link href="assets/css/iconmoon.css" rel="stylesheet">
	<!-- Iconmoon Link End-->
	<!-- Animate Link Start-->
	<link href="assets/css/animate.css" rel="stylesheet">
	<!-- Animate Link End-->
	<!-- Chosen Link Start-->
	<link href="assets/css/chosen.css" rel="stylesheet">
	<!-- Chosen Link End-->
	<!-- Swiper Link Start-->
	<link href="assets/css/swiper.css" rel="stylesheet">
	<!-- Swiper Link End-->
	<!-- Woocommerce Link Start-->
	<link href="assets/css/woocommerce.css" rel="stylesheet">
	<!-- Woocommerce Link End-->
	<!-- Pretty Photo Link Start-->
	<link href="assets/css/prettyPhoto.css" rel="stylesheet">
	<!-- Pretty Photo Link End-->
	<!-- Daterange Picker Link Start-->
	<link href="assets/css/daterangepicker.css" rel="stylesheet">
	<!-- Daterange Picker Link End-->
	<!-- Pretty Photo Link Start-->
	<link href="assets/css/jquery.mCustomScrollbar.css" rel="stylesheet">
	<!-- Pretty Photo Link End-->
	<!-- Themes / plugin Link Start-->
	<link href="style.css" rel="stylesheet">
	<link href="assets/css/cs-foodbakery-plugin.css" rel="stylesheet">
	<link href="assets/css/color.css" rel="stylesheet">
	<link href="assets/css/widget.css" rel="stylesheet">
	<link href="assets/css/responsive.css" rel="stylesheet">
	<!-- <link href="assets/css/rtl.css" rel="stylesheet"> -->
	<!-- Themes / plugin Link End-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script src="assets/js/modernizr.js"></script>
	<script src="assets/js/bootstrap.js"></script>
	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

</head>

<body>
	<!--Main Wrapper-->
	<div class="wrapper">


		
		<!-- Main Section Start -->
		<div class="main-section">
			<div class="page-section restaurant-detail-image-section" style=" background: url(assets/extra-images/cover-photo01.jpg) no-repeat scroll 0 0 / cover;">
				<!-- Container Start -->
				<div class="container">
					<!-- Row Start -->
					<div class="row">
						<!-- Column Start -->
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<div class="company-info-detail">
								<div class="company-info">
									<div class="img-holder">
										<figure>
											<img src="assets/extra-images/listing-logo18.png" alt="">
										</figure>
									</div>

									<div class="text-holder">
										<span class="restaurant-title">Restaurant Demo</span>
										<div class="text">
											<i class="icon-location"></i>
											<p>Mark ricardo road, lane 27, Austin, Texas, USA.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- Column End -->
					</div>
					<!-- Row End -->
				</div>
				<!-- Container End -->
			</div>
			<div class="page-section account-header buyer-logged-in">
				<div class="container">
					<div class="row">
						<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
							<div class="user-account-nav user-account-sidebar">
								<div class="user-nav-list">
									<ul>
										<li class="active"><a href="restaurant-dashboard.html"><i class="icon-dashboard3"></i>Dashboard</a></li>
										<li><a href="restaurant-restaurant.html"><i class="icon-building"></i>My Restaurant</a></li>
										<li><a href="restaurant-menu-builder.html"><i class="icon-menu5"></i>Menu Builder</a></li>
										<li><a href="restaurant-orders.html"><i class="icon-add_shopping_cart"></i>Orders</a></li>
										<li><a href="restaurant-earnings.html"><i class="icon-money"></i>Earnings</a></li>
										<li><a href="restaurant-statement.html"><i class="icon-file-text22"></i>Statement</a></li>
										<li><a href="restaurant-change-password.html"><i class="icon-unlock-alt"></i>Change Password</a></li>
										<li><a class="logout-btn" href="registration.html"><i class="icon-log-out"></i>Signout</a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
							<div class="user-dashboard loader-holder">
								<div class="user-holder">
									
									<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
										<div class="row">
											<div class="element-title has-border right-filters-row">
												<h5>Recent Orders</h5>
												<div class="right-filters row pull-right">
													<div class="col-lg-6 col-md-6 col-xs-6">
														<div class="input-field">
															<select class="chosen-select-no-single">
																<option selected="selected" value="">Select Orders Status</option>
																<option value="Processing">Processing</option>
																<option value="Cancelled">Cancelled</option>
																<option value="Completed">Completed</option>
															</select>
														</div>
													</div>
													
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
											<div class="user-orders-list">
												<div class="responsive-table">
													<ul class="table-generic">
														<li class="order-heading-titles">
															<div>Order id</div>
															<div>Date</div>
															<div>Total Price</div>
															<div>Charges</div>
															<div>Received</div>
															<div>Status</div>
														</li>
														<li class="order-heading-titles">
															<div><a href="#" data-toggle="modal" data-target="#order-det-22606">order-22606</a></div>
															<div>Apr 9,2020</div>
															<div>£ 38.99</div>
															<div>£ 3.90</div>
															<div>£ 35.09</div>
															<div><span class="order-status" style="background-color: #047a06;">Completed</span></div>
														</li>
														
														
														
														<li class="order-heading-titles">
															<div><a href="#" data-toggle="modal" data-target="#order-det-22606">order-22583</a></div>
															<div>Apr 9,2020</div>
															<div>£ 26.22</div>
															<div>£ 2.62</div>
															<div>£ 23.60</div>
															<div><span class="order-status" style="background-color: #1e73be;">Processing</span></div>
														</li>
														<li class="order-heading-titles">
															<div><a href="#" data-toggle="modal" data-target="#order-det-22606">order-22493</a></div>
															<div>Apr 2,2020</div>
															<div>£ 28.24</div>
															<div>£ 2.82</div>
															<div>£ 25.42</div>
															<div><span class="order-status" style="background-color: #047a06;">Completed</span></div>
														</li>
													</ul>

												</div>												
											</div>
										</div>
									</div>
									
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Main Section End -->



		<!-- Footer Start -->
		<footer id="footer" class="footer-style-2">
			<div class="footer-widget">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<div class="widget widget-newsletter">
								<div class="widget-title">
									<h5>Subscribe to our Newsletter</h5>
								</div>
								<div class="fieldset">
									<form action="#">
										<div class="field-holder">
											<label>
												<i class=" icon-envelope3"></i>
												<input type="text" class="field-input" placeholder=" Enter Your Email Address...">
											</label>
										</div>
										<div class="field-holder btn-holder">
											<input class="subscribe-btn bgcolor" type="submit" value="Sign Up">
										</div>
									</form>
								</div>
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
							<div class="widget widget_text">
								<div class="widget-title">
									<h5>About us</h5>
								</div>
								<div class="textwidget">Foodbakery is the business of food and restaurants.
									Ridiculus sociosqu cursus neque cursus curae ante scelerisque vehicula.
									Explore restaurants, bars, and cafés by locality cum doctus civibus
									efficiantur in imperdiet deterruisset. FoodBakery Just ordered me some grub
								</div>
							</div>
						</div>
						<div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
							<div class="widget widget-top-cities">
								<div class="widget-title">
									<h5>Popular Cities</h5>
								</div>
								<ul>
									<li><a href="listings.html">Aberaeron</a></li>
									<li><a href="listings.html">Aberdeenshire</a></li>
									<li><a href="listings.html">Anston</a></li>
									<li><a href="listings.html">Ascot</a></li>
								</ul>
							</div>
						</div>
						<div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
							<div class="widget widget-top-cities">
								<div class="widget-title">
									<h5>Popular Cuisines</h5>
								</div>
								<ul>
									<li><a href="listings.html">BB.Q</a></li>
									<li><a href="listings.html">ChickenRoast</a></li>
									<li><a href="listings.html">Cold Coffee</a></li>
									<li><a href="listings.html">Cold Drink</a></li>
								</ul>
							</div>
						</div>
						<div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
							<div class="widget widget-categories">
								<div class="widget-title">
									<h5>Menu</h5>
								</div>
								<ul>
									<li><a href="blog-large.html">Blog Large</a></li>
									<li><a href="blog-medium.html">Blog Medium</a></li>
									<li><a href="blog-medium.html">Blog Masonry</a></li>
									<li><a href="contact-us.html">Contact</a></li>
									<li><a href="faq.html">FAQ’s</a></li>
									<li><a href="how-it-works.html">How itworks</a></li>
								</ul>
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
							<div class="widget widget-connect">
								<div class="widget-title">
									<h5> Connect</h5>
								</div>
								<ul>
									<li><span class="bgcolor"><i class="icon-ring_volume"></i></span>
										<p>+1 123 456 7892</p>
									</li>
									<li><span class="bgcolor"><i class="icon-envelope-o"></i></span>
										<p><a href="#">support@chimpstudio.com</a>
										</p>
									</li>
									<li><span class="bgcolor"><i class="icon-location-pin2"></i></span>
										<p>33 - B, 2nd Floor, Saint Jhon Doe Appartments, Sussex, UK.26AL565C.</p>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="copyright-sec">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<div class="copyright-inner">
								<div class="copy-right">
									<p>© 2020 Foodbakery. All Rights Reserved. Powered By <a href="#">ChimpGroup</a>.
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div> <!-- /.cs-copyright -->
		</footer>
		<!-- Footer End -->
	</div>
	<!-- Modal Popup Start -->
	<div class="modal fade menu-order-detail menu-order-info" id="booking-detail-22603" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
					<h2><a>Booking Detail</a></h2>
				</div>
				<div class="modal-body booking-modal-body">
					<div class="order-detail-inner">
						<h3>Restaurant Demo </h3>
						<ul class="order-detail-options">
							<li>
								<strong>Booking ID :</strong>
								<span>22603</span>
							</li>
							<li>
								<strong>Booking Date :</strong>
								<span>Apr 9,2020 6:40 AM </span>
							</li>
						</ul>
						<h3>Customer Deatil</h3>
						<ul class="order-detail-options">
							<li>
								<strong>First Name:</strong>
								<span>Mark</span>
							</li>
							<li>
								<strong>Last Name:</strong>
								<span>Jose</span>
							</li>
							<li>
								<strong>Email:</strong>
								<span>markjose@gmail.com</span>
							</li>
							<li>
								<span>4-guest</span>
							</li>
							<li>
								<span>Apr 30,2020 11:00 AM</span>
							</li>
							<li class="order-detail-message">
								<strong>Instructions:</strong>
								<span>I need to book a special table for my friends. Make it some special.!</span>
							</li>
						</ul>
						<div class="booking-status-holder">
							<div class="booking-status-process booking-status">
								<p style="background:#1e73be;">Your booking is Processing.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="id_confrmdiv" style="display: none;">
		<div class="cs-confirm-container">
			<i class="icon-sad"></i>
			<div class="message">You Want To Delete?</div>
			<a href="javascript:void(0);" id="id_truebtn">Yes, Delete</a>
			<a href="javascript:void(0);" id="id_falsebtn">No, Cancel</a>
		</div>
	</div>
	<!-- Modal Popup End -->
	<script src="assets/js/responsive.menu.js"></script>
	<script src="assets/js/swiper.min.js"></script>
	<script src="assets/js/bootstrap-datepicker.js"></script>
	<script src="assets/js/chosen.js"></script>
	<script src="assets/js/counter.js"></script>
	<script src="assets/js/fliters.js"></script>
	<script src="assets/js/jquery.fitvids.js"></script>
	<script src="assets/js/jquery.growl.js"></script>
	<script src="assets/js/jquery.matchHeight-min.js"></script>
	<script src="assets/js/masonry.pkgd.js"></script>
	 <script src="assets/js/skills-progress.js"></script>
	<script src="assets/js/bootstrap-slider.js"></script>
	<script src="assets/js/wow.js"></script>
	<script src="assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
	<script src="assets/js/daterangepicker.js"></script>
	<script src="assets/js/functions-plugin.js"></script>
	<script src="assets/js/functions.js"></script>
</body>

</html>